* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    border-radius: 20px;
}

.grid-item {
    width: calc(100% / 40);
    padding-bottom: calc(100% /40);
    background-color: #000;
    box-sizing: border-box;
}